# map(func, iterable)

The built-in **map()** function accepts two arguments, a function and an iterable. You need to pass the function without calling it and the iterable as a variable(prefferably).<br>
The map() function will apply the function to each value in the passed iterable and return a map object. This map object can be used to create an iterable that contains the output.

In [1]:
# Creating a function to pass in map() function.

countries = ['India', 'Iran', 'Italy', 'Ireland', 'Iraq']

lamb = lambda x: x.upper()

lamb('usa')

'USA'

If we want to create a new list that contains all the names but in upper case, we'll have to implement a loop.

In [2]:
capital_countries = list()

for country in countries:
    capital_countries.append(country.upper())
    
capital_countries

['INDIA', 'IRAN', 'ITALY', 'IRELAND', 'IRAQ']

The loop can be avoided by making use of the map() function.<br>
Both the loop and map() give same output.

In [5]:
maped = map(lamb, countries)

print(f'maped is of type {type(maped)}')
print(list(maped))

maped is of type <class 'map'>
['INDIA', 'IRAN', 'ITALY', 'IRELAND', 'IRAQ']

### Map with two functional arguments

In [29]:
input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

first_name = input_list[0]
last_name = input_list[1]

name = list(map(lambda x, y: x + ' ' + y, first_name, last_name))
name

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

# filter(func, iterable)

The filter function is used when you want to extract only certain values that satisfy a condition from an iterable.<br>
Unlike map(), filter() is not used to give an output, but only to check the items in an iterable and return the same item if function returns True<br>
Therefore, in a filter() method you need to pass a function that returns a boolean and not a function that performs some operation and returns a non-boolean value.

In [6]:
my_list = [3, 4, 6, 8, 12, 13, 16, 18, 20, 21]

# Here, lambda checks for divisibility of x by 3; returns false if not.
divby3 = lambda x: x % 3 == 0

divby3(15)

True

In [9]:
# Perform a filter on all values of my_list and return all values that are True
div = filter(divby3, my_list)

print('div is of type ', type(div))
print(list(div))

div is of type  <class 'filter'>
[3, 6, 12, 18, 21]

### Write a program to count the number of students above age 18.

In [12]:
students_data = {1:['sam', 24], 2:['Rob', 25], 3:['Jack', 26], 4:['Cornor', 18], 5:['Trump', 15]}

f = lambda x: x[1] > 18
f(['Kyle', 16])

False

In [15]:
# applying the filter method.

print(len(list(filter(f, students_data.values()))))

3

# reduce(func, iterable)

The reduce() function takes a function and an iterable just like map() and filter()<br>
However, unlike them, reduce() performs the operation on two consequtive values of the iterable rather than only one value.<br>
It takes the output of the operation performed on the first two values in the iterable and then performs the same operation with that output and the third value. Finally, it returns the a single value after final operation.<br>
In the example below, reduce takes 1 & 2 from nums, multiplies them using func_2 and then takes the output and multiplies it with next value i.e. 3.

In [23]:
from functools import reduce

nums = range(1, 7)

func_2 = lambda x, y: x*y

In [22]:
q = reduce(func_2, nums)
q

True

In [33]:
#input_str = sys.stdin.read()
input_list = [65,76,87,23,12,90,99]
from functools import reduce

answer = reduce(lambda x, y: y if x<y else x, input_list)

print(answer)

99